/* Global Styling */

* {
	font-family: monospace;
	color: #D3D7CF;
}

body {
	width: 80%;
	margin: auto;
	background-color: #151515;
}

a {
	text-decoration: underline;
}

hr {
	width: 100%;
	border-color: #151515;
}

/* Specific Styling */

.title {}

.section {}

.entry {
	background: #252525;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
}

.file {
	border: solid 1px;
	padding: 0.5em;
	text-decoration: none;
}

.important {
	color: red;
}

.timestamp {
	color: #555753;
}

.copyright {
	font-size: small;
	text-align: center;
	padding: 1em;
}